body{
    height: 100%;
    width: 100%;
    background-color: rgb(242, 250, 90);
    margin: 0;
    padding: 0;
    }
    .container{
    height: 100%;
    width: 100%;

    }
    .botoes{
        
        width: 100%;
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
       
        
    }
    button{
        height: 150px;
        width: 300px;
        border-radius: 150px;
        font-size:x-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       margin: 10px;
      
       border: none;
    
    }
    a:link{
        color: rgb(79, 171, 174);
       
    }
   